<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Drop ship</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
   
</head>

<body>
   <b>Dear Aliexpress support !</b>
   <p>We know you are checking  our server because We request many time in your aliexpress system.</p>
   <p>Let's clarify some things:</p>
   <ul>
       <li>
           We are not Hacker. We don’t take any action that effect to your systems.
       </li>
       <li>
           We are Dropshipping from Aliexpress to Amazon. So We request because we just to Crawl Product from Ali to Amazon.
       </li>
       <li>
           We have set delay time between requests from your systems.
       </li>
   </ul>
   <form method="post">
       <textarea placeholder="if you have any query or concern,  please feel free to contact me." name="contact" required></textarea>
       <button>Submit</button>
   </form>
   <b>Thanks for your understand.</b>
</body>

</html>
