<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Find Asin HotTrend - By Shark PL</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grand Coming Soon Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
    />
    <link rel="icon" href="/images/favicon.png">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- Style Sheets -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Style Sheets -->

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <!-- //Web Fonts -->
</head>

<body>
<div class="main-agile content">
    <!-- title name-->
    <h1>Shark PL</h1>
    <div class="subscribe wthree">
        <div class="contact-form">
            <form id="form-search" method="post">
                <div id="div-input-search">
                    <select placeholder="Chọn Url" name="root_url" required id="select-url">
                        <option>Chọn 1 trường</option>
                        <% root_urls.forEach(url =>{%>
                            <option value="<%= url%>"><%= url%></option>
                        <%})%>
                    </select>
                    <input type="submit" id="search" value="Show">
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
    <!-- //form style -->
</div>
<!-- copyright -->
<!-- //copyright -->

<!-- Js files -->
<script src="/js/jquery-2.1.4.min.js"></script>

<script>

</script>
</body>

</html>
